@import url(https://fonts.googleapis.com/css?family=Loved+by+the+King|Parisienne|Petit+Formal+Script|Pinyon+Script|Tangerine|Lobster+Two|Pompiere);
body {
  padding-top: 3.5rem;
  color: #5a5a5a;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

.text-pompiere {
  font-family: 'Pompiere', cursive;
}

.text-parisienne {
  font-family: 'Parisienne', cursive;
}

.text-pinyon-script {
  font-family: 'Pinyon Script', cursive;
}

.text-petit-formal-script {
  font-family: 'Petit Formal Script', cursive;
}

.text-loved-by-king {
  font-family: 'Loved by the King', cursive;
}

.text-tangerine {
  font-family: 'Tangerine', serif;
}

.text-lobster-two {
  font-family: 'Lobster Two', cursive;
}

.index-cover-title {
  font-family: 'Pinyon Script', cursive;
}

.subtitle {
  font-family: 'Loved by the King', cursive;
}

.shadow-1 {
  text-shadow: 2px 2px 2px #474646;
}

.shadow-4 {
  text-shadow: 4px 4px 4px #aaa;
}

.navbar-brand {
  padding-bottom: 0;
  font-size: 1.8rem;
}

#menu-date {
  position: relative;
  top: -2px;
  font-size: 1rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {
  margin-bottom: 2rem;
}

/* Declare heights because of positioning of img element */

.carousel-item>img {
  width: 100%;
  height: 100%;
}

.carousel-indicators {
  top: 15px;
  color: #fff;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  body {
    padding-top: 1rem;
  }
  #menu-date {
    font-size: 1.2rem;
  }
  .navbar-brand {
    padding-bottom: 0;
    font-size: 2.8rem;
    padding-left: 2rem;
  }
  .navbar-nav {
    padding-right: 2rem;
  }
  .nav-item {
    padding-right: 1rem;
  }
}

@media (min-width: 62em) {}